{% extends "template.html" %}
{% block page_title %}Listar Licitações{% endblock %}
{% block content %}
<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
<thead>
    <tr>
        <th>Codigo</th>
        <th>Título</th>
        <th>Resumo</th>
        <th>Data</th>
        <th>Link Edital</th>
        <th>Categoria</th>
        <th>Ação</th>
    </tr>
</thead>
<tbody>
    {% for bidding in biddings %}
    <tr class="even gradeC">
        <td>{{ bidding._id }}</td>
        <td>{{ bidding.title }}</td>
        <td>{{ bidding.summary }}</td>
        <td>{{ bidding.date }}</td>
        <td><a href="{{ bidding.link_notice }}">{{ bidding.link_notice }}</a></td>
        <td>{{ bidding.category }}</td>
        <td><a href="{{url_for('write_email', id_bidding = bidding._id)}}"><i class="fa fa-envelope fa-fw"></i></a><a href="{{url_for('delete_bidding', id=bidding._id)}}"><i class="fa fa-trash fa-fw"></i></a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
<!-- /.table-responsive -->
{% endblock %}

{% block scripts%}
<script src="{{ url_for('static', filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
   $('#dataTables-example').DataTable({
       responsive: true
   });
});
</script>
{% endblock%}
